.chart{
  border-radius: 16px;
background: #FFF;
}
.chart .header{
  color: #232360;
  font-size: 18px;
font-weight: 500;
}

.chart .header .title{
  font-size: 24px;

  font-weight: 700;}
.chart .header li.active{
  color: #1EA7FF;
border-bottom: 2px solid #1EA7FF;
}
.tasklist h4{
  margin-top: 15px;
  margin-left: 10px;
  color: #232360;
font-size: 24px;
font-weight: 700;
}
